{% extends 'base.html' %}

{% block title %}{{ game.title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">
                <i class="bi bi-info-circle"></i> {{ game.title }}
            </h3>
        </div>
        
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    {% if game.image %}
                    <img src="{{ game.image.url }}" class="img-fluid rounded mb-3" alt="{{ game.title }}">
                    {% endif %}
                </div>
                
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Основная информация</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Категория:</strong> {{ game.category.name|default:"-" }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Издатель:</strong> {{ game.publisher.name|default:"-" }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Дата выпуска:</strong> {{ game.release_date|date:"d.m.Y" }}
                                </li>
                            </ul>
                        </div>
                        
                        <div class="col-md-6">
                            <h5>Игровые параметры</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Количество игроков:</strong> {{ game.min_players }}-{{ game.max_players }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Время игры:</strong> {{ game.play_time }} мин
                                </li>
                                <li class="list-group-item">
                                    <strong>Возрастной рейтинг:</strong> {{ game.age_rating }}+
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="mt-4">
                        <h5>Описание</h5>
                        <p class="card-text">{{ game.description }}</p>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="mt-4">
                        <h5>Добавить в корзину</h5>
                        <form method="post" action="{% url 'basket_add' game.pk %}">
                            {% csrf_token %}
                            {{ form_basket }}
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-cart-plus"></i> В корзину
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        

        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <a href="{% url 'game_list' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Назад
                </a>
                <div class="btn-group">
                    <a href="{% url 'game_update' game.pk %}" class="btn btn-warning">
                        <i class="bi bi-pencil"></i> Редактировать
                    </a>
                    <a href="{% url 'game_delete' game.pk %}" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Удалить
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}