{% extends 'base.html' %}

{% block title %}{{ designer.last_name }} {{ designer.first_name }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>
                <i class="bi bi-person-badge"></i> {{ designer.last_name }} {{ designer.first_name }}
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5>Основная информация:</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Дата рождения:</strong> 
                            {{ designer.birth_date|default:"не указана"|date:"d.m.Y" }}
                        </li>
                        <li class="list-group-item">
                            <strong>Страна:</strong> {{ designer.country }}
                        </li>
                        <li class="list-group-item">
                            <strong>Возраст:</strong> 
                            {% if designer.birth_date %}
                                {{ designer.birth_date|timesince }}
                            {% else %}
                                не указан
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Статистика:</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Всего игр:</strong> {{ designer.games.count }}
                        </li>
                        <li class="list-group-item">
                            <strong>Популярная игра:</strong> 
                            {% if designer.games.first %}
                                {{ designer.games.first.title }}
                            {% else %}
                                -
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>

            <h5 class="mt-4">Созданные игры:</h5>
            {% if designer.games.all %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for game in designer.games.all %}
                <div class="col">
                    <div class="card h-100">
                        {% if game.image %}
                        <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h6 class="card-title">{{ game.title }}</h6>
                            <p class="card-text">{{ game.description|truncatechars:100 }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'game_detail' game.pk %}" class="btn btn-sm btn-primary">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-info mt-3">
                У этого дизайнера пока нет созданных игр
            </div>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <a href="{% url 'designer_list' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Назад к списку
                </a>
                <div class="btn-group">
                    <a href="{% url 'designer_update' designer.pk %}" 
                       class="btn btn-warning">
                        <i class="bi bi-pencil"></i> Редактировать
                    </a>
                    <a href="{% url 'designer_delete' designer.pk %}" 
                       class="btn btn-danger">
                        <i class="bi bi-trash"></i> Удалить
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}